/* Import Google Fonts - Inter */

@font-face {
  font-family: "Inter";
  src: url(https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url(https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
  vertical-align: middle;
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-xsm: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-md: 1.125rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2.5rem;
  --font-xxxl: 3.675rem;

  --line-height-xsm: 1.125;
  --line-height-base: 1.5;
  --line-height-md: 1.625;
  --line-height-lg: 1.875;
  --line-height-xl: 2.75;
  --line-height-xxl: 4.5;

  --padding-nav: 11rem;
  --padding-body: 14rem;

  --font-color-primary: #ffffff;
  --font-color-secondary: #08090a;
  --font-color-tertiary: #2ce19a;
  --font-color-quaternary: #cbd5f5;

  --background-color-primary: #08090a;
  --background-color-secondary: #0c8c5e;
  --background-color-hover: #ffffff0e;

  --color-background-main: lab(2.42579% -0.165291 -0.470081);
  --color-background-invert: lab(100% 0 0);
  --color-background-soft:lab(80.6% 0 -0.01 / 0.208);
  --color-background-sub:#c8c8c835;
  --color-background-hover:hwb(0 100% 0% / 0.055);
  --color-text-main: lab(100% 0 0);
  --color-text-invert: lab(2.42579% -0.165291 -0.470081);
  --color-text-soft: lab(100% 0 0 / 0.7);
  --color-text-sub: lab(100% 0 0 / 0.6);
  --color-border-sub: lab(100% 0 0 / 0.07);
  --color-background-soft: lab(100% 0 0 / 0.05);
  --color-border-surface: lab(100% 0 0 / 0.05);
  --color-muted: lab(100% 0 0 / 0.5);
  --color-border-soft: lab(100% 0 0 / 0.15);
  --color-brand: lab(79.9844% -59.6292 22.5096);
  --color-brand-light: lab(51.3415% -41.5657 15.3527);
  --color-border-solid: lab(100% 0 0);
  --color-muted-invert: lab(2.42579% -0.165291 -0.470081 / 0.5);

  --color-red-600: #e40014;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-600: #4a5565;
  --color-gray-800: #1e2939;
  --color-black: #000;
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-xl: 36rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --tracking-widest: 0.1em;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --blur-md: 12px;
  --blur-lg: 16px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: "Inter", system-ui, sans-serif;
  --default-mono-font-family: "Geist Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background: var(--background-color-primary);
  color: var(--font-color-primary);
}

/* ================= NAV ================= */
.landing {
  background: 
    linear-gradient(to bottom, transparent 70%, #08090a  100%),
    url(resources/assets/bg-dark.svg);
  background-size: 120%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-color: var(--color-background-main);
}

.landing::before {
content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: black;
  
  
 mask-image: 
    linear-gradient(to top, var(--color-background-main) 100%, transparent 0%),
    linear-gradient(to bottom, var(--color-background-main) 100%, transparent 0%);
  mask-size: 100% 100%; /* Each mask covers half the height */
  mask-position: bottom, top; /* Place first at bottom, second at top */
  mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to top, #08090a 0%, transparent 100%);

  pointer-events: none;
}


/* ===== Nav ===== */
.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--spacing) * 3) var(--padding-nav);
  background: transparent;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 100%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* ===== Nav Logo ===== */
.logo img {
  width: 104px;
  height: 24px;
  cursor: pointer;
}

/* ===== Nav Menu===== */
.nav-menu {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}

.nav-links {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--spacing);
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  padding: var(--spacing) calc(var(--spacing) * 3);
  gap: var(--spacing);
  color: var(--color-text-main);
  font-size: var(--font-base);
  line-height: var(--text-base--line-height);
  background-color: transparent;
  display: inline-block;
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.5s ease;
}

.nav-links a:hover {
  background: var(--background-color-hover);
  backdrop-filter: blur(var(16px));
  -webkit-backdrop-filter: blur(16px);
  border-radius: 999px;
  padding: calc(var(--spacing)) calc(var(--spacing) * 3);
}

/* ===== Dropdown ===== */

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  align-items: flex-start;
  width: 50vw;
  background: var(--color-background-main);
  padding: 24px 28px;
  border-radius: var(--radius-3xl);
  border: 1px solid var(--color-border-soft);
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: all 0.25s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown-col {
  flex: 1;
}

.dropdown-col h4 {
  font-size: var(--font-xsm);
  font-family: var(--font-geist-mono);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--color-text-sub);
  margin-bottom: calc(var(--spacing) * 3);
}

.dropdown-menu-options a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-main);
  padding: var(--spacing);
  padding: var(--spacing);
}

.dropdown-menu-options h4 {
  font-family: var(--font-inter);
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--color-text-main);
  text-transform: none;
  font-size: var(--font-base);
  line-height: var(--text-base--line-height);
  margin: 0;
}

.dropdown-menu-options span {
  font-size: var(--font-base);
  font-weight: 100;
  margin-left: var(--spacing);
  line-height: var(--text-base--line-height);
}

.dropdown-menu-options p {
  font-family: var(--font-inter);
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-sub);
  text-transform: none;
  font-size: var(--font-xsm);
  line-height: var(--text-xs--line-height);
  margin: 0;
}

/* ===== Nav Buttons ===== */

.nav-actions {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 3);
}

.btn.ghost {
  background: var(--background-color-hover);
  color: var(--color-text-main);
  font-size: var(--font-base);
  line-height: var(--text-base--line-height);
  padding: var(--spacing) calc(var(--spacing) * 3);
  border-radius: var(--radius-3xl);
  border: none;
}

.btn.primary {
  background: var(--color-background-invert);
  font-size: var(--font-base);
  line-height: var(--text-base--line-height);
  padding: var(--spacing) calc(var(--spacing) * 3);
  border-radius: var(--radius-3xl);
  border: none;
  color: var(--color-text-invert);
}

.btn.primary:hover {
  filter: brightness(0.9);
}

/* ================= HERO ================= */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  padding-top: calc(var(--spacing) * 10);
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  background: var(--color-background-sub);
  color: var(--color-text-main);
  border-radius: 999px;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  padding: var(--spacing) calc(var(--spacing) * 2);
}

.badge.pill {
  font-size: var(--font-xsm);
  background-color: var(--color-brand-light);
  margin: 0;
  line-height: var(--line-height-xsm);
}

.badge.icon {
  font-size: var(--font-xsm);
  margin: 0;
  line-height: 1;
}

.hero h1 {
  font-size: var(--font-xxxl);
  line-height: var(--line-height-xsm);
  font-weight: var(--font-weight-medium);
  padding: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) * 6);
  margin-bottom: calc(var(--spacing) * 4);
}

.hero p {
  font-size: var(--font-base);
  line-height: var(--text-base--line-height);
  color: var(--color-text-main);
  margin-bottom: calc(var(--spacing) * 8);
}

/* ===== Email Input ===== */

.hero-input {
  display: inline-flex;
  align-items: center;
  background: var(--color-background-sub);
  border-radius: 999px;
  width: 25vw;
  height: calc(var(--font-base)*2.5);
  padding: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 10);
  border: 1px solid var(--color-border-soft);
}

.hero-input input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--font-base);
  line-height: var(--text-base--line-height);
  color: var(--color-text-main);
  font-weight: var(--font-weight-normal);
  padding-left: calc(var(--spacing) * 3);
}

.hero-input input::placeholder {
  color: var(--color-text-sub);
  font-size: var(--font-sm);
  line-height: var(--text-base);
  font-weight: var(--font-weight-normal);
  padding-left: calc(var(--spacing) * 1);
}

.hero-input button {
  background: var(--color-background-invert);
  color: var(--color-text-invert);
  font-size: var(--font-base);
  line-height: var(--text-base--line-height);
  font-weight: 300;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  padding: var(--spacing) calc(var(--spacing) * 3);
}

/* ===== Hero Media ===== */

.hero-media {
  margin-top: calc(var(--spacing) * 10);
  margin-bottom: calc(var(--spacing) * 10);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 5);
}

.hero-media img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-3xl);
  border: 2px solid var(--color-border-sub);
  margin-bottom: 0;
}


/* ================= BRANDS SECTION ================= */
.brands {
  margin-top: calc(var(--spacing)*30);
  background-color: var(--color-background-main); 
  margin-bottom: calc(var(--spacing)*60);
}

.brand-container {
  max-width: var(--container-4xl); 
  margin: 0 auto; 
}

.brand-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: calc(var(--spacing)*20); 
  row-gap: calc(var(--spacing)*15); 
  justify-items: center; 
  align-items: center;
}

.brand-logos img {
  display: block; 
  max-width: 100%; 
  height: auto; 
  max-height: 60px; 
}






